{% extends "core/base.html" %}
{% load static %}
  <!------------------------------------------------Header---------------------------------->
        
      {% block navbar %}  

        {% include "core/navbar.html" %}
       
      {% endblock %}  
             
      {% block title %} About us {% endblock %}
        
      {% block mainbody %}

       
      <div class="container">    

        <main>
           <div class="main-content-banner d-flex justify-center align-center d-flex-sm">
               <div class="About-us-content">
                  <div class="static-text"><h1>MD blogs at A Glance</h1></div>
                    <p class="about-banner-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    </p>

                    <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </p>
                    <br><a href="#" class="bg-gt about-banner-btn">Read More</a>
               </div>
               <div class="right-content-banner">
                  <video width="650px" height="650px" autoplay muted loop>
     
                <source src="{% static 'core/video/aboutus.mp4' %}"
                    type="video/mp4">
                </video>
               </div>
           </div>
        </main>
    </div>   
  </header>   

<!-----------------------------------------Our team section-------------------------->

<style type="text/css">

</style>
<section id="team" class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-align-center">
                    <h2>Our <span>Team</span></h2>
                    <h4>Meet our awesome and expert team members</h4>
                </div>
            </div>
        </div>
            <div class="row team-items d-flex justify-center align-center gap-30">
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                            <div class="overlay">
                                <h4>Lorem Ipsum</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="social">
                                    <ul>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="vimeo">
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="message">
                                <a href="#"><i class="fas fa-envelope-open"></i></a>
                            </span>
                            <h4>Lorem Ipsum</h4>
                            <span>Team Leader</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                            <div class="overlay">
                                <h4>Lorem Ipsum</h4>
                                <p>
                                      Teachnology
                                </p>
                                <div class="social">
                                    <ul>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="vimeo">
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="message">
                                <a href="#"><i class="fas fa-envelope-open"></i></a>
                            </span>
                            <h4>Lorem Ipsum</h4>
                            <span>Tech blog Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="thumb">
                            <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                            <div class="overlay">
                                <h4>Lorem Ipsum</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="social">
                                    <ul>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="#"><i class="fab fa-pinterest"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="vimeo">
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="message">
                                <a href="#"><i class="fas fa-envelope-open"></i></a>
                            </span>
                            <h4>Lorem Ipsum</h4>
                            <span>Food Blogger</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>



<!----------------------------------Our team section end---------------------------->

<!--------------------------------Image with text-------------------------------->

<section>
<div class="container">
   <div class="lr-about-section d-flex justify-between align-center gap-14">
       <div class="left-about-sec">
           <img src="{% static 'core/images/post/tren-sm-3.jpg' %}" class="img-fluid">
       </div>

       <div class="right-about-sec content-custom-w">
            <h3>What is Lorem Ipsum?</h3>
            <p>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
       </div>
   </div>
<br>
   <div class="lr-about-section d-flex justify-between align-center p-5 gap-14">

       <div class="left-about-sec content-custom-w">
            <h3>What is Lorem Ipsum?</h3>
            <p>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
       </div>
       <div class="right-about-sec">
           <img src="{% static 'core/images/post/insp-3.jpg' %}" class="img-fluid">
       </div>
   </div>
</div>
</section>





<!------------------------------Blogs slider ---------------------------------------->
<section>    
<div class="container">
<div class="Blog-slider p-2">
        <h3>Inspiration</h3>
                <div class="main">
                    <div class="slider slider-for">
                        
                    </div>
                    <div class="slider slider-nav">
                        <div>
                        
                            <div class="blog-slide-1 bg-property-slider" style="background-image: url({% static 'core/images/post/latest-2.jpg' %});">
                                <div class="slide-post-content">
                                    <span class="blog-category bg-gt-sm">Finance</span>
                                    <h4>3 Things to avoid while investing in stock market as a beginner</h4>
                                    <ul class="author-name m-0 p-0">
                                        <li>Tech Blogger</li>
                                        <li> . </li>
                                        <li>24 Jan 2001 </li>
                                    </ul> 
                                </div>
                             </div>
                        

                        
                        </div>
                        <div>
                        
                        <div class="blog-slide-1 bg-property-slider" style="background-image: url({% static 'core/images/post/latest-1.jpg' %});">
                                <div class="slide-post-content">
                                    <span class="blog-category bg-gt-sm">Finance</span>
                                    <h4>3 Things to avoid while investing in stock market as a beginner</h4>
                                    <ul class="author-name m-0 p-0">
                                        <li>Tech Blogger</li>
                                        <li> . </li>
                                        <li>24 Jan 2001 </li>
                                    </ul> 
                                </div>
                             </div>
                        
                        </div>
                        <div>
                        
                           <div class="blog-slide-1 bg-property-slider" style="background-image: url({% static 'core/images/post/latest-3.jpg' %});">
                                <div class="slide-post-content">
                                    <span class="blog-category bg-gt-sm">Finance</span>
                                    <h4>3 Things to avoid while investing in stock market as a beginner</h4>
                                    <ul class="author-name m-0 p-0">
                                        <li>Tech Blogger</li>
                                        <li> . </li>
                                        <li>24 Jan 2001 </li>
                                    </ul> 
                                </div>
                             </div>
                        
                        </div>
                        <div>
                        
                           <div class="blog-slide-1 bg-property-slider" style="background-image: url({% static 'core/images/post/latest-4.jpg' %});">
                                <div class="slide-post-content">
                                    <span class="blog-category bg-gt-sm">Finance</span>
                                    <h4>3 Things to avoid while investing in stock market as a beginner</h4>
                                    <ul class="author-name m-0 p-0">
                                        <li>Tech Blogger</li>
                                        <li> . </li>
                                        <li>24 Jan 2001 </li>
                                    </ul> 
                                </div>
                             </div>

                        </div>
                        <div>
                        
                          <div class="blog-slide-1 bg-property-slider" style="background-image: url({% static 'core/images/post/latest-1.jpg' %});">
                                <div class="slide-post-content">
                                    <span class="blog-category bg-gt-sm">Finance</span>
                                    <h4>3 Things to avoid while investing in stock market as a beginner</h4>
                                    <ul class="author-name m-0 p-0">
                                        <li>Tech Blogger</li>
                                        <li> . </li>
                                        <li>24 Jan 2001 </li>
                                    </ul> 
                                </div>
                          </div>
                        
                        
                        </div>
                    </div>
                </div>

</div>

</div>
<!----------------------------------Blog slider end -------------------------------->

</section>


<!-------------------------------Latest Post Cards------------------------------------>

<section class="">
    <div class="container">
    <h2>Latest Post</h2>
        <div class="latest-post d-flex justify-between align-center gap-40 d-sm-block">
          
            <div class="blog-box1 post-card">
                <div class="blog-post-img">
                    <img src="{% static 'core/images/post/insp-1.jpg' %}">
                </div>
                <div class="blog-post-content">
                    <span class="post-date">10 November 2022</span>
                    <h4>This is Lorem ipsum dolor sit amet consectetur</h4>
                    <p>This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tempora accusantium culpa deleniti nesciunt repellat...</p>
                </div>
            </div>

            <div class="blog-box2 post-card">
                <div class="blog-post-img">
                    <img src="{% static 'core/images/post/insp-2.jpg' %}">
                </div>
                <div class="blog-post-content">
                    <span class="post-date">10 November 2022</span>
                    <h4>This is Lorem ipsum dolor sit amet consectetur</h4>
                    <p>This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tempora accusantium culpa deleniti nesciunt repellat...</p>
                </div>
            </div>

            <div class="blog-box3 post-card">
                 <div class="blog-post-img">
                    <img src="{% static 'core/images/post/insp-3.jpg' %}">
                </div>
                <div class="blog-post-content">
                    <span class="post-date">10 November 2022</span>
                    <h4>This is Lorem ipsum dolor sit amet consectetur</h4>
                    <p>This is Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tempora accusantium culpa deleniti nesciunt repellat ...</p>
                </div>
            </div>
        </div>
    </div>
</section>

        
      {% endblock mainbody %}  
<br><br><br>
<!------------------------------------Latest blog post card end---------------------------------->

{% block footer %}

<!------------------------------Footer start------------------------------------>

  {% include "core/footer.html" %}

<!-----------------------------------Footer End-------------------------------->

{% endblock %}